
@{
    ViewBag.Title = "关于我们";
    Layout = "~/Views/_LayoutTops.cshtml";
}

<!--个人中心-关于我们-->
<div class="aboutus">
    <div class="txt">
        <h2>平台介绍</h2>
        <p>专业的艺术品购物网站，平台将邀请知名设计师将对文化艺术品进行衍生设计，并联系专业制作团队，制作出一系列质量优美观度高的文化衍生品进行展示与销售。平台会员在进行自主选购的同时，亦可向平台提出定制需要，双方沟通后，平台会向该部分会员提供专属定制服务。艺购艺术文化电子商城改善了艺术品市场的“高冷”现状，加快了艺术品在艺术家、艺术机构和艺术爱好者之间的多向流通，促进了艺术品价格回归理性、艺术品市场体系趋向规范，加速了文化产业发展大繁荣。南京金网艺购将为广大艺术品爱好者打造一个公开、公平、公正的文化艺术品交流平台，并承担起历史责任，为推动艺术市场健康发展、提升社会整体文化自信而不懈努力！ </p>
    </div>
    <div class="txt">
        <h2>联系我们</h2>
        <p>
            地址：河南省郑州市纬五路12号河南合作大厦A座8楼 <br>
            电话：0371-55901818   0371-55987788<br>
            传真：(852) 2332 3339<br>
            邮箱：sales@meizu.com.hk
        </p>
        <img src="/Content/Images/map_03.jpg" alt="">
    </div>
</div>
<!--个人中心-关于我们-->
@section style
{
    <link href="/Content/Css/center.css" type="text/css" rel="stylesheet">
}
@section Script
{
    
}
