
@{
    ViewBag.Title = "意见反馈";
    Layout = "~/Views/_LayoutTops.cshtml";
}

<!--个人中心-意见反馈-->
<div class="mind">
    <div class="fill">
        <p>手机号码:<input type="tel" style="border:none"/></p>
        <textarea placeholder="请输入您的反馈内容"></textarea>
    </div>
    <h6>请详细描述您遇到的问题，有助于我们快速定位并解决问题,温馨提示：您提交的内容不能超过500字符！</h6>
</div>
<a class="makesure">提交</a>
<!--个人中心-意见反馈-->
@section style
{
    <link href="/Content/Css/center.css" type="text/css" rel="stylesheet">
}